*{
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.green{
    color: rgb(0, 145, 55);
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}

.purple{
    color: purple;
}

.black{
    color: white;
    background-color: black;
}